.container {
    padding: 0.8em;
}

.container.list{
    width: 100%;
    margin-right: 2em;
}

.container.grid{
    width: 25%;
}

.video:hover {
    transform: scale(1.02);
}
.video.grid{
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 100%;
    height: 100%;
    color: #fff;
    background-color: #222;
    box-shadow: 1px 1px 12px -1px #000000;
    transition: transform 250ms ease-in;
    cursor: pointer;
}

.video.list{
    display: flex;
    align-items: center;
    height: 7.5rem;
    padding: 0.8em;
    background-color: #222;
    cursor: pointer;
}


.thumbnail.grid {
    width: 100%;
    height: 9rem;
}

.thumbnail.list {
    width: 50%;
    height: 7rem;
}

.metadata{
    width: 12rem;
    margin: 1em 0 1em 1em;
    height: 7rem; 
    text-align: left;
    color: #fff;
}

.title{
    width: 100%;
    margin: 0;
    font-weight: 600;
    font-size: 1rem;
    white-space: wrap;
    overflow: hidden;
    text-overflow : ellipsis;
}

.channel{
    margin: 0.6em 0 0 0;
    font-size: 0.8rem;
    color: #aaa;
}